.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__option {
  background: linear-gradient(
    135deg,
    var(--bg-gradient1) 0%,
    var(--bg-gradient2) 100%
  ) !important;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent !important;
  border-color: var(--bg-gradient2) !important;
  color: var(--bg-gradient2) !important;
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* FORM*/
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #0d6efd !important;
  resize: none;
  color: var(--bs-white);
}
/*==================MEDIA QUERIES (tablets) ==================*/

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/*==================MEDIA QUERIES (small devices) ==================*/

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
